html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@font-face {
  font-family: "poppins";
  src: url("/Fonts/NataSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "hdng";
  src: url("/Fonts/Brigends Expanded.otf");
}
@font-face {
  font-family: "second";
  src: url("/Fonts/Casanova Scotia.otf");
}
@font-face {
  font-family: "roselin";
  src: url("/Fonts/Rosaline.otf");
}
